# App
NAME=
DESCRIPTION=
VERSION=

# Security
SECRET_KEY=
ALLOWED_CORS_ORIGINS=
ACCESS_TOKEN_EXPIRE_MINUTES=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

# Frontend
FRONTEND_URL=